@{
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
   
}

<div id="dvMap" style="width: 60%; height: 500px; margin-top:70px; float:left;">
    <div class="maps" id="map">
        <!-- Add directive code (gmap directive) for show map and markers-->

    </div>
</div>